head
  meta(charset='utf-8')
  title Northwestern Mutual Challenge
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  style.
    .column {
    float: left;
    width: 50%;
    }
    .row:after {
    content: "";
    display: table;
    clear: both;
    }
div(style='margin:15px;')
  nav.navbar.navbar-inverse
    ul.nav.navbar-nav
      li
        a(href='/') Home
      li
        a(href='/instructions') Instrustions
      li
        a(href='/healthcheck') Heath Check
      li.active
        a(href='/adambrauns') Adam Brauns
  .jumbotron(style='padding:20px;')
    .row
      div(style='float:left; width:70%')
        h1 Adam Brauns
      div(style='float:right; width:30%')
        img(style='border-radius: 10%' align='center' src='images/picture.jpg' alt='Adam Brauns' height='150' width='150' data-rotate='90')
    h2
      u Personal Statement
    p
      | I pride myself as a driven, responsible, and trustworthy individual.
      | I work very well independently but I can also function at a high level as
      | part of a team.
    p
      | In my current role, I have been tasked with a wide variety of projects.
      | In those projects, I have worked with various technologies including, but not
      | limited to: Ansible, Jenkins, Python, Docker, Kubernetes, PowerShell, etc. One of my
      | favorite things about being a technologist is that there is always new and exciting
      | technologies being created to simplify everyone&apos;s lives.
    p
      | Ultimately, I am excited about the opportunity to join Northwestern Mutual.
      | I believe that Northwestern Mutual offers everything that I am looking for in a company.
      | I am confident that I will be a great asset to your team and Northwestern Mutual as a whole.
    h2
      u Resume
    object(name='Adam Brauns Resume' width='100%' height='100%' data='files/resume.pdf')
