head
  meta(charset='utf-8')
  title Northwestern Mutual Challenge
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
div(style='margin:15px;')
  nav.navbar.navbar-inverse
    ul.nav.navbar-nav
      li
        a(href='/') Home
      li
        a(href='/instructions') Instrustions
      li.active
        a(href='/healthcheck') Heath Check
      li
        a(href='/adambrauns') Adam Brauns
  .jumbotron(style='padding:20px;')
    h1 Health Check
    p
      | To do a health check, go to the following link: 
      a(href='https://localhost:443/health') https://localhost:443/health
    p The web page should return a status code of 200