head
  meta(charset='utf-8')
  title Northwestern Mutual Challenge
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
div(style='margin:15px;')
  nav.navbar.navbar-inverse
    ul.nav.navbar-nav
      li.active
        a(href='/') Home
      li
        a(href='/instructions') Instrustions
      li
        a(href='/healthcheck') Heath Check
      li
        a(href='/adambrauns') Adam Brauns
  .jumbotron(style='padding:40px;')
    h1 Hello, World!
    p This is my submission for the Coding Challenge for Northwestern Mutual.
    p Use the navigation bar to browse the website!
    p
      | Link to the
      a(href='https://gitlab.com/adambrauns/coding_challenge' target='_blank') GitLab Project
    p Created by: Adam Brauns