head
  meta(charset='utf-8')
  title Northwestern Mutual Challenge
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
div(style='margin:15px;')
  nav.navbar.navbar-inverse
    ul.nav.navbar-nav
      li
        a(href='/') Home
      li.active
        a(href='/instructions') Instrustions
      li
        a(href='/healthcheck') Heath Check
      li
        a(href='/adambrauns') Adam Brauns
  .jumbotron(style='padding:20px;')
    h1 Instructions
    h2
      u Cloud Engineer Challenge
    ul
      li
        p Create a project on a public hosted source code management site (Github, Gitlab)
      li
        p
          | Create a small application which hosts a simple, hello-world, webpage. Ideally, a simple Java or NodeJS application will suffice
      li
        p
          | Create a CI pipeline which is triggered when a change is committed to the repo&rsquo;s master branch which results in a Docker image being built and hosted (example: Dockerhub) via Circle/Travis/Gitlab CI
      li
        p
          | Once pipeline is established, modify the application to handle a health-route which returns a HTTP 200
      li
        p
          | Update README.md with instructions of how to run the dockerized application locally (assume the end-user has docker running locally)
      li
        p
          | Bonus features (some ideas to explore if you should have time) - an automated test executor to fail if tests fail, project file linter (run on merge requests), TLS sockets, and/or any terraform or ansible related configuration scripts to compliment the project
